* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  :root {
    --var-font-color: rgb(255, 217, 0);
  }
  html {
    background-color: rgba(175, 119, 119, 0.64);
    background-image: url(image_gallery_images/woodstock.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-blend-mode: multiply;
    
  }

  header {
    display: flex;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.75);
  }

  header img {
    max-width: 300px;
    padding: 2vh;
    height: 300px;
  }

  header h2 {
    font-size: 250%;
    color: rgb(255, 217, 0);
  }

  nav ul {
    display: flex;
    list-style-type: none;
    color: rgb(255, 217, 0);
    text-decoration: none;
}
nav li {
    margin-inline: 1vw;
    background-color: rgba(0, 0, 0, 0.864);
    color: rgb(255, 217, 0);
}
nav a {
    padding: 2vh 1vw;
    display: block;
    font-weight: bold;
    font-variant: small-caps;
    transition: all 300ms ease;
    color: rgb(255, 217, 0);
    text-decoration: none;
}
nav a:hover {
    background-color: rgba(124, 123, 123, 0.95);
    color: rgb(255, 217, 0);
}

  body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  
  .row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
  }
  
  /* Create four equal columns that sits next to each other */
  .column {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
  }
  
  .column img {
    margin-top: 8px;
    vertical-align: middle;
  }

  footer {
    padding: 4vh 0;
    
  }

  footer p {
    color: rgb(255, 217, 0);
    text-align: center;
    font-variant: small-caps;
    font-weight: bold;
  }

  /* Responsive layout - makes a three column-layout instead of four columns */
  /* @media (max-width: 1000px) {
    .column {
      flex: 33%;
      max-width: 33%;
    }
  } */

  /* Responsive layout - makes a two column-layout instead of four columns */
  @media (max-width: 800px) {
    .column {
      flex: 50%;
      max-width: 50%;
    }
    header {
        flex-direction: column;
    }

    header h2 {
        font-size: 150%;
    }
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media (max-width: 600px) {
    .column {
      flex: 100%;
      max-width: 100%;
    }
  }